/* Start Iconbox Area
==================================================*/
.icon-box-img-11 {background-image: url(../img/e1.png);}
.icon-box-img-12 {background-image: url(../img/e2.png);}
.icon-box-img-13 {background-image: url(../img/e3.png);}
.icon-box-img-14 {background-image: url(../img/e4.png);}
.icon-box-img-15 {background-image: url(../img/e5.png);}
.icon-box-img-16 {background-image: url(../img/e6.png);}
.icon-box-img-15 {background-image: url(../img/e7.png);}
.icon-box-img-16 {background-image: url(../img/e8.png);}
body {
  background-color: rgb(211, 211, 211);
}
.single-icon-box1 {
    height: 280px;
    background-size: cover;
    background-position: center;
    background-color: #cccc;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.icon-box-content1 {
    position: absolute;
    left: 0;
    top: 210px;
    width: 100%;
    height: 100%;
    background: #4272d7;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    color: #fff;
    z-index: -1;
    padding: 20px 30px 30px 30px;
    -webkit-transition: .6s;
    transition: .6s;
    cursor: pointer;
}
.feature-heading {
    margin-top: 40px;
font-size: 26px;
color: #4272d7;;
 }
 .icon-box-area{
  width: 100%;
  padding: 25px;
  background-color: #dad9d9cc;;
 }
.icon-box-content1:hover {
    top: 0;
}
.iconbox-content-heading1 {
    font-size: 16px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.iconbox-content-heading1 i {
    font-size: 30px;
    margin-right: 15px;
}

.iconbox-content-body1   p {
    color: #e5e5e5;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 25px;
}
.read-more-btn {
    text-transform: capitalize;
    font-weight: 600;
}

.read-more-btn i {
    margin-right: 5px;
}
/* End Iconbox Area */